/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
@media (min-width: 992px) {
    .animate {
        animation-duration: 0.3s;
        -webkit-animation-duration: 0.3s;
        animation-fill-mode: both;
        -webkit-animation-fill-mode: both;
    }
}
@media(max-width:900px) {
    .navbar .navbar-brand {
        float: none;
        display: inline-block;
    }

    .navbar .navbar-nav > .nav-item {
        float: none;
        margin-left: .1rem;
    }

    .navbar .navbar-nav {
        float: none !important;
    }

    .nav-item {
        width: 100%;
        text-align: left;
    }

    .navbar-toggler {
        display: block !important;
    }

    .navbar-toggleable-sm.collapse {
        display: none !important
    }

    .navbar-toggleable-sm.collapse.in {
        display: block !important
    }
}

.left-auto {
    left: auto !important;
}

.w-0 {
    width: 0 !important;
    max-width: 0 !important;
}

.w-16 {
    width: 16px !important;
    max-width: 16px !important;
}

.w-24 {
    width: 24px !important;
    max-width: 24px !important;
}

.w-32 {
    width: 32px !important;
    max-width: 32px !important;
}

.w-40 {
    width: 40px !important;
    max-width: 40px !important;
}

.w-48 {
    width: 48px !important;
    max-width: 48px !important;
}

.w-200 {
    width: 200px !important;
    max-width: 200px !important;
}

.w-300 {
    width: 300px !important;
    max-width: 300px !important;
}

.w-15-p {
    width: 15% !important;
}

.w-20-p {
    width: 20% !important;
}

.w-30-p {
    width: 30% !important;
}

.w-40-p {
    width: 40% !important;
}

.w-50-p {
    width: 50% !important;
}

.w-70-p {
    width: 70% !important;
}

.w-100-p {
    width: 100% !important;
}

.h-0 {
    height: 0 !important;
}

.h-16 {
    height: 16px !important;
}

.h-24 {
    height: 24px !important;
}

.h-32 {
    height: 32px !important;
}

.h-48 {
    height: 48px !important;
}

.h-50 {
    height: 50px !important;
}

.h-64 {
    height: 64px !important;
}

.h-100 {
    height: 100px !important;
}

.h-300 {
    height: 300px !important;
}

.h-500 {
    height: 500px !important;
}

.square-16 {
    width: 16px !important;
    height: 16px !important;
}

.square-24 {
    width: 24px !important;
    height: 24px !important;
}

.square-32 {
    width: 32px !important;
    height: 32px !important;
}

.square-40 {
    width: 40px !important;
    height: 40px !important;
}

.square-48 {
    width: 48px !important;
    height: 48px !important;
}

.square-64 {
    width: 64px !important;
    height: 64px !important;
}

.square-128 {
    width: 128px !important;
    height: 128px !important;
}

.inline-block {
    display: inline-block;
}

.b-1 {
    bottom: 1px !important;
}

.block {
    display: block;
}

.border-0 {
    border-width: 0 !important;
}

.border-1 {
    border-width: 1px !important;
}

.border-2 {
    border-width: 2px !important;
}

.c-border-0:first-child {
    border-width: 0 !important;
}

.c-border-1:first-child {
    border-width: 1px !important;
}

.c-border-2:first-child {
    border-width: 2px !important;
}

.home-banner-0 {
    visibility:hidden;
}
.slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
}

/*.navbar-nav .open .dropdown-menu {
    background-color: #1f8bf5 !important;
}
*/
a.child{
    padding-left:5px;
    font-size:10pt;
}

a.child.rtl {
    padding-right: 5px;
    font-size: 10pt;
}
/* Other styles for the page not related to the animated dropdown */
svg.xsmall {
    width: 10px;
    height: 20px;
    font-size: 1pt;
}
svg path.xsmall {
    transform: scale(0.16);
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
    background-color: #0062cc55 !important;
    border-color: #005cbf55 !important;
}

.btn-primary:hover {
    background-color: #0069d955 !important;
    border-color: #0062cc55 !important;
}

.form-group.DropDownList{
    display: inline-block !important;
    width: 120px !important;
}

/* Provide sufficient contrast against white background */
/*a {
  color: #0366d6;
}*/

/*.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}*/

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
html, body {
    max-width: 100%;
    /*height: 100%;*/
    overflow-x: hidden;
}
.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    width: 100%;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    /*display: flex;
    flex-direction: column;*/
}
/*jinan*/
.btn-profile {
    margin-top: -4em;
    margin-left: -8em;
}

@media(min-width:500px) and (max-width:770px) {
    .btn-profile {
        margin-top: 0em !important;
        margin-left: 0em !important;
    }
}