@{
    var documentId = 2;
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="~/images/tutor1.png" alt="branding" class="label-icon-active shadow-1-5" style="display: block; margin-left: auto; margin-right: auto; width: 80%; border-radius: 10px; box-shadow: rgb(223, 227, 232) 0px 25px 30px; " />
        </div>
        <div class="col-md-6">
            <div style=" margin: auto auto 24px; padding: 0px 20px; max-width: 480px;">
                <h2 style="margin-top:1em;">
                    Work from anywhere
                </h2>
                <p>All tutorials take place in our online lesson space. This means you can work remotely, wherever you are.</p>
                <p>All you need is a laptop, earphones, and a stable internet connection.</p>
            </div>
            <a role="button" class="btn btn-floating btn-outline btn-next waves-effect waves-dark square-40 shadow-1-5" href="~/SignUp/TutorThirdDocumentary/@documentId"><i class="icon-forward"></i></a>
        </div>
    </div>
</div>