
.peopoint {
    position: absolute;
    border-radius: 110px;
    border-width: 3px;
    border-color: #2dbae8;
    border-style: solid;
    background-color: #2dbae8;
    cursor: pointer;
    overflow: hidden;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 20;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

    .peopoint.maximized {
        background-color: black;
    }

.antialias {
    -webkit-font-smoothing: antialiased;
}

.pp-parent {
    left: 500px !important;
    top: 500px !important;
}

.peopoint img {
    position: relative;
    width: 100%;
}

.relation {
    position: absolute;
    width: 100px;
    height: 2px;
    background-color: #2dbae8;
    z-index: 11;
}

.point {
    position: absolute;
    width: 1px;
    height: 1px;
    background-color: red;
    z-index: 20;
}
