@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300);
/* @import url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');*/
/* GENERAL RESETS */
*{
    margin: 0;
    padding: 0;
}
html{
  box-sizing: border-box;
}
*, *:before, *:after{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
button{cursor: pointer;}
body{
    font-family:'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    text-align:center;
    color:#777;
    background-color: #229180;
    font-size: 12px;
}

:root{
    --bkg-color: #E1E0E4;
    --header-color: #D4D5D8;
    --text-color: #898E96;
    --title-color: #5D636F;
}
#invoice{
    padding: 30px;
    max-width: 900px;
    margin: 0 auto;
}

.invoice {
    position: relative;
    background-color: #FFF;
    min-height: 680px;
    background-color: var(--bkg-color);
}

.invoice h1{
    font-size: 1.9em;
    color: var(--title-color);
    text-align: left;
    margin-bottom: 3px;
}
.invoice h2{
    font-size: 1.3em;
    color: var(--text-color);
    text-align: left;
    margin-bottom: 3px;
}
.invoice h3{
    font-size: 1.2em;
    color: var(--title-color);
    text-align: left;
    margin-bottom: 3px;
}
.invoice h4{
    font-size: 1.1em;
    color: var(--text-color);
    text-align: left;
    font-weight: 100;
    margin-bottom: 3px;
}
.invoice header {
    display: flex;
    padding: 10px 0;
    height: 100px;
    margin-bottom: 30px;
    padding: 35px;
}
.invoice header .logo{
    flex: 1;
}
.invoice header img{
    width: 70px;
    margin: 0 5px;
    /* background-color: var(--header-color); */
    /* border-radius: 50%; */
}
.invoice .company{
    padding: 12px 0;
    flex:6;
}
.invoice .date{
    padding: 23px 0;
    flex:3;
}
.invoice .rigth h3,.invoice .rigth h4{
    text-align: right;
}
.invoice .fromto {
    display: flex;
    padding: 30px 35px;
    height: 120px;
    margin-bottom: 10px;
    background-color: var(--header-color);
    justify-content: space-between;
}
.invoice .from {
    flex: 3;
}
.invoice .arrow-wrapper {
    flex: 4;
}
.invoice .arrow {
    margin: 0 auto;
    width: 60px;
    height: 60px;
    border-radius:50%;
    background-color: var(--bkg-color);
    text-align: center;
    padding: 16px 0;
    font-size: 14px;
    color: var(--header-color);
}
.invoice .to {
    flex: 3;
    text-align: right;
}

.invoice .session{
    padding: 35px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.invoice .session .title{
    font-size: 1.3em;
    color: var(--text-color);
    text-align: left;
    margin-bottom: 3px;
    padding: 15px 0;
    border-bottom: 1px solid  var(--header-color);
}
.invoice .session .desc{    
    border-bottom: 1px solid  var(--header-color);
    margin-bottom: 3px;
    padding: 15px 0;
    text-align: right;
}
    .invoice .session .last {
        margin-top: 50px;
        border-top: 1px solid var(--header-color);
        color: #33A7D7;
    }
.invoice .session .title.last{
    font-size: 18px;
    font-weight: 300;
}.invoice .session .desc.last{
    font-size: 16px;
    font-weight: 300;
}
.invoice main {
    padding-bottom: 20px;
}


.invoice main .notices {
    margin-bottom: 10px;
}

.invoice main .notices .notice {
    margin-bottom: 10px;
    font-size: 1.2em
}

.invoice footer {
    width: 100%;
    text-align: center;
    color: #777;
    border-top: 1px solid #aaa;
    padding: 8px 0;
}
footer.special-color {
    display: none;
}
@media print {
    .invoice {
        font-size: 11px!important;
        overflow: hidden!important
    }

    .invoice footer {
        position: absolute;
        bottom: 10px;
        page-break-after: always
    }

}