@model INTO.Models.TutorModel
@{
    ViewData["Title"] = "AllQuestionsByTag";
}



@section TopScripts{

    @*With Razor
        <script src="~/js/AllQuestionsByTag.js"></script>*@


    <script src="~/lib/bootpag/bootpag.min.js"></script>
    <script src="~/js/TutorQuestion/SharedTutorQuestion.js"></script>
    <script src="~/js/TutorQuestion/AllQuestions.js"></script>
    <script>
        $(document).ready(function () {

            getGlobalTexts(window.location.origin + '/TutorQuestion/Getlookups', 42, function () {
                let tag = window.location.pathname;
                tag = tag.split("/");
                let length = tag.length - 1;
                tag = length > 0 ? tag[length] : "";
                AllQuestions('allQDiv', 'page-selection', window.location.origin + '/TutorQuestion/GetAllQuestions', { tag: tag }, "allQuestionsByTagPageTitle")
            });
        });
    </script>
}
@section Styles{
    <link href="~/lib/bootpag/bootpag.css" rel="stylesheet" />
    <link href="~/css/tutorQuestion.css" rel="stylesheet" />

    <link href="~/css/sweetalert2/dark.css" rel="stylesheet" />
    <link href="~/css/sweetalert2/material-ui.css" rel="stylesheet" />
    <link href="~/css/materialTest.css" rel="stylesheet" />
}


<div class="row">
    <div class="PicDiv col-12 flex-vertical-center flex-horizontal-center"><h1 class="text-white text-center" id="pageTitle"></h1></div>
</div>
<br />
<br />

<div id="allQDiv">
    <div id="loading-page-selection" class="text-center">Loading</div>
</div>
<div id="page-selection" class="text-center"></div>

@*<div class="row">
        <div class="col-md-7 col-lg-7 offset-md-1 offset-lg-1 col-sm-12">
            <partial name="_PPartial" model="Model.paging" />
        </div>
        <div class="col-md-3 col-lg-3 col-sm-12">
            <div>
                <div class="card mb-4 wow fadeIn">
                    <div class="card-body">
                        <span class="fa fa-heart" style="color:red"></span>
                        <h5 class="card-title">Your Topics</h5>
                        <p class="card-text">
                            @{
                                List<string> tags = new List<string>();

                            }
                            @foreach (var item in Model.paging.Data)
                            {
                                foreach (var tag in item.tags)
                                {
                                    if (tags.FindIndex(e => e.Equals(tag.Name)) < 0)
                                    {
                                        tags.Add(tag.Name);
                                        <span class="badge badge-info HandCursor TopicToGetQuestion" id="@(tag.Name+"Tag")">@tag.Name</span>

                                    }

                                }
                            }
                        </p>
                        <h5 class="card-title">Other Topics</h5>
                        <p class="card-text">
                            @for (int i = 0; i <= Model.RandomTags.Count - 1; i++)
                            {
                                <span class="badge badge-info HandCursor TopicToGetQuestion" id="@(Model.RandomTags[i].Name+"Tag")">@Model.RandomTags[i].Name</span>
                            }
                        </p>
                    </div>
                </div>
            </div>
            <div>
                <div class="card mb-4 wow fadeIn"><img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="/images/board0.png" data-holder-rendered="true" style="width: 500px; height: 500px;"></div>
            </div>
        </div>
    </div>*@

