@using Microsoft.AspNetCore.Http
@using BLL.Shared;

@model TutorModel
@{
    ViewBag.Title = "Agreement";
    ViewData["PageName"] = "AgreementsAndTerms";
    ViewData["StepId"] = 6;
    Layout = "~/Views/Tutor/_LayoutWizardSteps.cshtml";
}
@section StepsTopScripts{
    <script type="application/javascript" src="@String.Format("{0}://{1}", Context.Request.Scheme, Context.Request.Host)/js/Agree.js"></script>
}
<div class="container">
    <div class="row">
        @if (Model.contentStep5.Count > 0)
        {
            @Html.Raw(Model.contentStep5[0].LookupDetailsDescription)
        }
    </div>
    <div class="row">
        <div class="form-row">
            <div>
                <input id="chkAgree" type="checkbox" class="option-input btn-outline square-24" data-role="chk-tutoring-agree">
                <label for="chkAgree">I Agree On The Above</label>
            </div>
        </div>
            <div class="form-row">
                <div class="col">
                    <!-- First name -->
                    <div class="md-form">
                        <input type="text" id="txtLegalFN" class="form-control-sm" data-role="signUp-firstName" required>
                        <label data-error="wrong" for="txtLegalFN" class="">Legal first name</label>
                        <div class="invalid-feedback">Your legal first name please</div>
                    </div>
                </div>
                <div class="col">
                    <!-- Last name -->
                    <div class="md-form">
                        <input type="text" id="txtLegalLN" class="form-control-sm" data-role="signUp-lastName" required>
                        <label data-error="wrong" for="txtLegalLN" class="">Legal last name</label>
                        <div class="invalid-feedback">Your legal last name please</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <button class="btn btn-primary waves-effect waves-light pt-1 pr-2 pl-4 white-text lang-dependant-inv" data-role="btn-next">
                @Model.Globals["Next"]
                <i class="icon-right ml-1 square-40 inline-block" style="margin-bottom: -15px;"></i>
            </button>
        </div>
    </div>
