<div class="container">
    <div class="row">
        <div class="col-8 col-lg-6">
            <div class="gray-header">
                <h3>
                    Title
                </h3>
            </div>
            <p>
                Your profile title should be descriptive, creative, and unique. Please do not use your name in the title.<br>
                Here are a few examples:
            </p>
            <ul>
                <li>Patient and Knowledgeable Ivy League Math Tutor</li>
                <li>Effective English Tutor Specializing in Reading and Test Prep Skills</li>
                <li>MIT Grad For Math and Science Tutoring</li>
            </ul>
            <div class="md-form">
                <input type="text" id="txtTitle" class="form-control" data-role="input-tutor-title">
                <label for="txtTitle">Your Title, It's YOU In Short!</label>
            </div>
        </div>
        <div class="col-2 col-md-auto">
            <span class="info"></span>
        </div>
        <div class="col-2 col-lg-3">
            <a role="button" class="btn btn-floating btn-outline waves-effect waves-dark square-40 title-save" data-role="save-tutor-title">
                <i class="icon-save"></i>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-8 col-lg-6">
            <div class="gray-header spc-n">
                <h3>
                    Free response
                </h3>
            </div>
            <div class="spc-sm">
                <p>The free response section is your chance to stand out. Be descriptive, be thorough, and be yourself as you tell potential students and parents about your experience and tutoring methods.</p>
                <p>Please do not put HTML into the free response section. We only allow plain text submissions.</p>
                <span style="visibility:hidden" class="text-error" id="lblFreeRespError"></span>
                <textarea rows="10" cols="64" id="txtFreeResponse" placeholder="Your Response, Make It Shiny!" class="form-control" data-role="input-tutor-freeResponse"></textarea>
            </div>
        </div>
        <div class="col-2 col-md-auto">
            <span class="info"></span>
        </div>
        <div class="col-2 col-lg-3">
            <a role="button" class="btn btn-floating btn-outline waves-effect waves-dark square-40 free-response-save" data-role="save-tutor-freeResponse">
                <i class="icon-save"></i>
            </a>
        </div>
    </div>
    <p></p>
</div>
