@model SignUpModel
@{
    ViewBag.Title = "Password Reset Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <div class="card text-center">
        <div class="card-header">
            Password Has Been Reset
        </div>
        <div class="card-body">
            <h5 class="card-title">Welcome @Model.User.FirstName</h5>
            <p class="card-text">Your password has been reset.</p>
            <a href="javascript: showSignIn()" class="btn btn-primary text-light">Login</a>
        </div>
        <div class="card-footer text-muted">
        </div>
    </div>
</div>