@model INTO.Models.SignUpModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="margin-top:1em;">
    <div class="col-md-3">
        <a role="button" class="btn btn-floating btn-outline waves-effect waves-dark square-40" href="~/SignUp">
            <i class="icon-back"></i>
        </a>
    </div>
    <div class="col-md-6">
        <div class="card card-cascade wider">
            <!-- Card image -->
            <div class="view view-cascade gradient-card-header blue-gradient">
                <!-- Title -->
                <h2 class="card-header-title mb-3">Forgot Password</h2>
                <!-- Text -->
            </div>

            <!-- Card content -->
            <div class="card-body card-body-cascade text-center">

                <form asp-action="PrepareResetPassword" asp-controller="Account" data-role="signUp-input">
                    <div class="md-form mb-2">
                        <input type="email" asp-for="Email" id="txtEmail" class="form-control" data-role="signUp-email" required>
                        <label data-error="wrong" data-success="right" for="txtEmail">Email</label>
                        <div class="invalid-feedback">Your email please</div>
                    </div>
                    <div class="text-center form-sm mt-2">
                        <button type="submit" id="btnSubmit" class="btn btn-info white-text light-blue darken-1" data-role="forgot-pwd-submit">Submit</button>
                    </div>
                </form>
            </div>
            <!-- Card content -->

        </div>
    </div>
    <div class="col-md-3">
    </div>
</div>
