@model SignUpModel
@{
    ViewBag.Title = "Password Reset";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <div class="card text-center">
        <div class="card-header">
            Password Reset
        </div>
        <div class="card-body">
            <h5 class="card-title">Dear @Model.User.FirstName</h5>
            <p class="card-text">Please check your inbox (@Model.User.Email) to reset your password.</p>
            <a href="javascript: showSignIn()" class="btn btn-primary text-light">Login</a>
        </div>
        <div class="card-footer text-muted">
        </div>
    </div>
</div>