@model INTO.Models.LoginModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h5 class="card-title">Edit Password</h5>
                        </div>
                    </div>
                    @*<div class="row">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-info white-text light-blue darken-1" data-role="edit-profile-password">Edit</button>
                        </div>
                    </div>*@
                    <div class="row" id="alert-success-edit-password" style="display:none;">
                        <div class="col-md-12">
                            <div class="alert alert-success" role="alert">
                                Password Changed Successfuly!
                            </div>
                        </div>
                    </div>
                    <div class="row" id="confirmPassword">
                        <div class="col-md-12">
                            <form method="POST" asp-action="EditPassword" asp-controller="Student" data-role="confirm-new-password">
                                <div class="row" style="display:none;">
                                    <div class="col-md-4">
                                        <div class="md-form">
                                            <input type="text" id="txtUserId" asp-for="@Model.User.UserId" value="@Model.User.UserId" data-role="edit-password-user-Id" class="form-control-sm">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="md-form">
                                            <input type="text" id="txtPassword" class="form-control-sm" data-role="new-password" style="width:94%;">
                                            <label data-error="wrong" data-success="right" for="txtPAssword">New Password</label>
                                            <div class="invalid-feedback">Your new password please</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="md-form">
                                            <input type="text" id="txtNewPassword" class="form-control-sm" data-role="confirm-new-password" style="width:94%;">
                                            <label data-error="wrong" data-success="right" for="txtNewPassword">Confirm New Password</label>
                                            <div class="invalid-feedback">Your confirm password please</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="md-form">
                                            <button type="button" class="btn btn-info white-text light-blue darken-1" data-role="edit-password" sstyle="width:100%">Edit</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">

            </div>
        </div>
    </div>
</div>