@{
    Layout = "~/Views/Shared/MenuSupport.cshtml";
}
@section Styles {
    <link rel="stylesheet" href="@String.Format("{0}://{1}", Context.Request.Scheme, Context.Request.Host)/css/StudentCss/FAQS.css" />
}
<div class="category-container">
    <div class="category-content" style="margin-top:2em;">
        <header class="page-header">
            <h3>Technical Support</h3>

        </header>

        <div class="section-tree">

            <section class="section">
                <h4 class="section-tree-title">
                    <a href="/hc/en-us/sections/360003869139-Getting-Started"><b>Getting Started</b></a>

                </h4>

                <ul class="article-list">

                    <li class="article-list-item">

                        <a href="/hc/en-us/articles/212914469-What-browser-should-I-use-" class="article-list-link">What browser should I use?</a>
                    </li>

                </ul>


            </section>

            <section class="section">
                <h4 class="section-tree-title">
                    <a href="/hc/en-us/sections/360003869159-Problems-on-Windows"><b>Problems on Windows</b></a>

                </h4>

                <ul class="article-list">

                    <li class="article-list-item">

                        <a href="/hc/en-us/articles/360014045999-How-do-I-fix-problems-on-my-Microsoft-Surface-" class="article-list-link">How do I fix problems on my Microsoft Surface?</a>
                    </li>

                    <li class="article-list-item">

                        <a href="/hc/en-us/articles/213622489-How-do-I-enable-my-camera-and-microphone-in-the-browser-" class="article-list-link">How do I enable my camera and microphone in the browser?</a>
                    </li>

                </ul>


            </section>

            <section class="section">
                <h4 class="section-tree-title">
                    <a href="/hc/en-us/sections/360003829140-Problems-on-Tablets"><b>Problems on Tablets</b></a>

                </h4>

                <ul class="article-list">

                    <li class="article-list-item">

                        <a href="/hc/en-us/articles/115004329029-My-Wacom-Tablet-works-in-other-apps-but-I-cannot-write-in-the-lesson-space" class="article-list-link">My Wacom Tablet works in other apps but I cannot write in the lesson space</a>
                    </li>

                    <li class="article-list-item">

                        <a href="/hc/en-us/articles/115004321765-My-Huion-Tablet-works-in-other-apps-but-I-cannot-write-in-the-lesson-space" class="article-list-link">My Huion Tablet works in other apps but I cannot write in the lesson space</a>
                    </li>

                </ul>


            </section>

            <section class="section">
                <h4 class="section-tree-title">
                    <a href="/hc/en-us/sections/360003869199-Top-Tips"><b>Top Tips</b></a>

                </h4>

                <ul class="article-list">

                    <li class="article-list-item article-promoted">

                        <span data-title="Promoted article" class="icon-star"></span>

                        <a href="/hc/en-us/articles/360008957299-Quick-fixes" class="article-list-link">Quick fixes</a>
                    </li>

                    <li class="article-list-item article-promoted">

                        <span data-title="Promoted article" class="icon-star"></span>

                        <a href="/hc/en-us/articles/213473385-Does-a-graphics-tablet-work-with-the-lesson-space-" class="article-list-link">Does a graphics tablet work with the lesson space?</a>
                    </li>

                    <li class="article-list-item">

                        <a href="/hc/en-us/articles/212959269-Lag-or-missing-pen-strokes-using-a-Wacom-tablet-on-Windows" class="article-list-link">Lag or missing pen strokes using a Wacom tablet on Windows</a>
                    </li>

                    <li class="article-list-item">

                        <a href="/hc/en-us/articles/213601145-How-can-I-improve-my-internet-connection-" class="article-list-link">How can I improve my internet connection?</a>
                    </li>

                    <li class="article-list-item">

                        <a href="/hc/en-us/articles/213473405-What-graphics-tablet-should-I-get-" class="article-list-link">What graphics tablet should I get?</a>
                    </li>

                    <li class="article-list-item">
                        <a href="/hc/en-us/articles/214421265-How-do-I-share-documents-in-the-lesson-space-" class="article-list-link">How do I share documents in the lesson space?</a>
                    </li>
                </ul>
            </section>

        </div>
    </div>
</div>
